    <header class="res-header" id="banner-ms">
      <div class="container">
                <i class="fa fa-arrow-left fa-2x res-menutop" ng-click="goBack()"></i>
        <h1 class="fa fa-cogs"> Настройка на артикули</h1>
        <img src="" alt="">
      </div>
    </header>
      <div ng-cloak>
          <md-content flex-xs="100"  flex-offset-md="10" flex="80">
            <md-tabs md-dynamic-height md-border-bottom md-swipe-content="true">
              <md-tab label="всички артикули">
                <md-content class="md-padding">
              <!--    <h1 class="md-display-2">Всички артикули</h1> -->
                  <md-list>
                    <md-list-item class="md-2-line" ng-repeat="menuitem in menuitems" ng-href="#">
                        <img ng-src="{{menuitem.menuitemUrl}}" alt="{{ menuitem.category }}" class="md-avatar">
                        <div class="md-list-item-text" layout="column">
                        <h3>{{ menuitem.name }}</h3>
                        <p>{{ menuitem.description }}</p>
                      </div>
                        <md-divider></md-divider>
                    </md-list-item>
                  </md-list>
                </md-content>
              </md-tab>
              <md-tab label="Добави нов">
                <md-content class="md-padding">
                  <h1 class="md-display-2">Добави нов</h1>


                        <md-content class="autoScroll" flex-offset="5" flex="90">
                          <form>
                            <md-input-container class="md-icon-float md-block">
                                <!-- Use floating label instead of placeholder -->
                                <label>Наименование</label>
                                <input ng-model="newMenuitem.name" type="text">
                            </md-input-container>
                            <md-input-container md-no-float class="md-block">
                                <label>Цена</label>
                                <input ng-model="newMenuitem.price" type="text" >
                            </md-input-container>
                            <md-input-container md-no-float class="md-block">
                                <label>Категория</label>
                                <input ng-model="newMenuitem.category" type="text" >
                            </md-input-container>
                            <md-input-container md-no-float class="md-block">
                                <label>Описание</label>
                                <input ng-model="newMenuitem.description" type="text" >
                            </md-input-container>
                            <md-input-container md-no-float class="md-block">
                                <label>линк към снимка</label>
                                <input ng-model="newMenuitem.menuitemUrl" type="text" >
                            </md-input-container>
                            <md-button class="md-raised md-primary" ng-click="addnewMenuitem()">
                          <i class="fa fa-plus"> Добави</i>
                            </md-button>
                          </form>
                      </md-content>
                 </md-content>
              </md-tab>
            </md-tabs>
          </md-content>
        </div>
